<!DOCTYPE html>
<html lang="hr">

<head>
  <meta charset="utf-8">
  <title>Naslovna</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

    :root {
      font-size: 220px;

      --container-margin: 60px;
      --okosl-font-weight: normal;
      --title-font-weight: 700;
    }

    * {
      margin: 0;
      line-height: 1rem;
      font-size: 1rem;
    }

    body {
      width: 100vw;
      height: 100vh;
      background: #fafafa;
      overflow: hidden;
      display: flex;
      position: relative;
    }

    .container {
      display: flex;
      font-family: 'Source Sans Pro', sans-serif;
      margin: 0 auto;
      padding: 0 var(--container-margin);
    }

    .centered {
      text-align: center;
    }


    .spacer {
      margin-top: 1.3rem;
      /* border-top: 5px solid rgba(0, 0, 0, .3); */
      color: transparent;
    }


    .title {
      color: #212121;
      font-weight: var(--title-font-weight);
    }

    .part,
    .okosl {
      position: fixed;
      top: 0;
      font-size: 1.2em;
      font-weight: var(--okosl-font-weight);
      color: rgba(0, 0, 0, .69);
    }

    .part {
      left: .1rem;
    }

    .okosl {
      right: .1rem;
    }

    .timestamp {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 3.8rem;
      height: 1.45rem;
      background-color: rgba(0, 0, 0, .8);
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="centered">
      <div class="part">
        <%- num %>
      </div>
      <div class="okosl">OKOSL</div>
      <div class="spacer"></div>
      <h1 class="title">
        <%- title %>
      </h1>

      <div class="timestamp"></div>
    </div>
  </div>
</body>

</html>